#box{
    color: blue;
}
/*
.heading{
    color: red;
}
    */

    h1,h2,h3{
        color: red;
    }

#sumitbutton{
    background-color: azure;
}

/* set text alien */

p{
    text-align: right;
    text-decoration: underline;
}
p{
    text-align: left;
    text-decoration: overline;
}

p{
    text-align: center;
    text-decoration: line-through;
}